#things to ignore in this repo
Fantasy_Soccer/fbref_links.json
Fantasy_Soccer/__pycache__/
Fantasy_Soccer/Seasons/
Fantasy_Soccer/DB/
Fantasy_Soccer/Testing/
.vscode/
personal_workspace.code-workspace